.filelist{background: #000;}
.filelist ul{list-style: none;}
.filelist ul:after{content: "";display: block;clear: both;}
.filelist ul li{float: left;width:90px;height: 90px;font-size: 0;text-align: center;margin: 30px;cursor: pointer;}
.filelist ul li .icon{display: block;font-size: 60px;height: 70px;color:yellow;}
.filelist ul li .title{font-size: 30px;display: block;text-overflow:ellipsis;overflow:hidden; color:#fff;}
.filelist h1 {text-align: center;font-size: 60px;line-height: 110px;}
.filelist h1 span{opacity:0;display: inline-block;font-weight: bold;color:yellow;}